@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    /*!----------------HEADER-------------*/
header{
    width: 100%;
}
.color{
    background-color: rgba(98, 139, 165, 0.886) ;
}
.logo{
    width: 120px;
    padding-left: 5px;
}
.nav-link{
    padding-left: 2px;
    font-size: 16px;
    font-weight: 600;
}



/*!------MAIN INDEX --------*/


.control-estilo{
    padding-top: 90px;
}
.estilo img{
    height: 550px;
}

/* slider 1 en carousel */
.estilo-1{
    height: 50%;
    padding-bottom: 10px;
}
.estilo-1 h2{
    font-size: 26px;
} 
.estilo-1 p{
    font-size: 50px;
}
.estilo-1 h3{
    font-size: 20px;
    display:inline-block;
    background-color: white;
    color: black;
}

/* slider 2 en carrousel */

.estilo-2{
    background-color: rgba(236, 193, 149, 0.527);
    height: 100%;
    left: 0;
    top: 0;
    padding: 30px 45px;
    text-align: left;
    width: 300px;
    
}
.estilo-2 h2{
    font-size: 18px;
    text-align: left;
}
.estilo-2 img{
    width: 200px;
    height: 200px;
}
.estilo-2 h3{
    font-size: 20px;
}
.estilo-2 p{
    font-size: 15px;
    text-align: justify;
}
.estilo-2 a{
    text-decoration: none;
    background-color: #aadaaa;
    color: black;
    font-weight:700 ;

}

/* slider 3 en carousel */

.estilo-3 h2{
    background-color: red;
    display: inline-block;
    font-size: 60px;
}
.estilo-3 h3{
    font-size: 18px;
}

/* slider 4 en carousel */
.estilo-4{
    padding-bottom: 0;
    right: 10px;
    left: 10px;
    bottom: 5px;
}
.estilo-4 h2{
    display: inline-block;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: red;
}
.estilo-4 h3{
    font-size: 20px;
}
.estilo-4 h4{
    font-size: 20px;
}
.estilo-4 p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



/*SECCION CATEGORIA PRODUCTOS*/

.categorias-productos .contenedor-categorias{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.categorias-productos h2{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    color: pink;
}
.categorias-productos h2::before,.categorias-productos h2::after{
    content: "------";
    color: currentColor;
}
.categorias-productos h2:hover{
    color: red;
}
.categorias{
    border: 1px solid #ffffff;
    height: 401px;
    text-align: center;
    margin: 15px;
}
.categorias img{
    width: 350px;
    height: 401px;
}
.info-categorias{
    transform: translateY(-200px);
}
.info-categorias h3{
    font-size: 32px;
    color: #ffdead;
}
.info-categorias a{
    text-decoration: none;
    background-color: #ffffff;
    color: #808080;
    padding: 5px;
    border-radius: 4px; 
}
.info-categorias a:hover{
    color: red;
    background-color: gray; 
}


/*---SECCION DE OFERTAS DE PRODUCTOS-----*/

.contenedor-ofertas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.ofertas-productos h2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.ofertas{
    border: 2px solid gray;
    width: 250px;
    height: 305px;
    text-align: center;
    margin: 10px;
}
.ofertas  img{
    width: 234px;
    height: 234px;
}
.ofertas h3{
    background-color: #ff0000;
    font-size: 25px;
    color: #ffffff;
    padding: 5px;
    width: 95px;
    border-radius: 5px;
    transform: translateX(-20px) translateY(-180px);
}
.descrip-ofertas{
    transform: translateY(-40px);
    background-color: #f4a56065;
}
.descrip-ofertas a{
    text-decoration: none;
}
.descrip-ofertas p{
    margin-bottom: 0;
    color: black;
    font-weight: 600;
    font-size: 14px;
    text-align:start;
    padding-left: 10px;
}
.descrip-ofertas h4{
    color: blue;
    font-size: 14px;
}
#valor-ant{
    color: rgba(128, 128, 128, 0.514);
    text-decoration:line-through;
    margin-right: 5px;
}




/*----------------PAGINA PRODUCTOS--------------------*/

/*!------MAIN PRODUCTOS------*/

.contenedor-productos{
    width: 100%;
    display: flex;
    justify-content: center;
}

.producto{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    background: #ffff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 300ms ease;
}
.producto:hover{
    box-shadow: 6px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-4%);
}

.producto img{
    width: 100%;
    height: 200%;
}

.producto .info-producto{
    padding: 15px;
    text-align: center;
}
.contenedor-productos a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}
.producto .descuento{
    padding: 15px;
    text-align: center;
}
.descuento h2{
    font-size: 15px;
    color: #ff0000;
}
.descuento h3{
    font-weight: 600;
    margin-bottom: 15px;
}
.producto .info-producto h2{
    font-weight: 600;
    margin-bottom: 15px;
}

.carrito{
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    border-radius: 4px;
}

.carrito:hover{
    color: yellow;
    background-color: green;
}
/*----------------PAGINA EQUIPAMIENTO------------------*/

/*!------MAIN EQUIPAMIENTO----*/

.indumentaria-accesorios img{
    width: 250px;
    height: 312px;
}
.contenedor-indumentaria{
    width: 100%;
    text-align: center;

}
.contenedor-indumentaria a{
    text-decoration: none;
    font-weight: 700;
}
.indumentaria-accesorios{
    display: inline-block;
    background: #ffff;
    border: 1px solid #808080;
    margin: 15px;
    cursor: default;
}
.indumentaria-accesorios .descripcion{
    background-color: #25d366;
    border: 2px solid #000000
}

.descripcion .carrito{
    font-size: 12px;
}

.contenedor-equipos{
    width: 100%;
    text-align: center; 
    margin-bottom: 20px;
}
.equipos{
    display: inline-block;
    background: #ffff;
    border: 1px solid #808080;
    margin: 15px;
    cursor: default;  
}
.equipos img{
    width: 234px;
    height: 280px;
}

.equipos a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.equipos .descripcion{
    background-color: #dbdbdb;
    border: 2px solid black
}
/*----------------PAGINA NOSOTROS-----------------------*/

/*!-----MAIN NOSOTROS-----------*/

.main-nosotros{
    background: rgb(250, 244, 239);
}

.main-nosotros h1{
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
    color: #ff0000;
}
.main-nosotros article{
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background: #fff;
}

.main-nosotros article p{
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}

.fa-star{
    color: red;
}

.main-nosotros article ul li{ 
    text-decoration:underline;
    color: #000000;
    display: inline-block;
    margin-top: 10px;
}

/*----------------PAGINA CONTACTO-----------------------*/

/*!-----MAIN CONTACTO----------*/

.container-contactanos{
    position: relative;
    width: 100%;
    padding: 10px 200px;
}
.container-contactanos .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.container-contactanos .titulo h2{
    color: black;
    font-weight: 500;
}
.formulario{
    grid-area: formulario;
}
.informacion{
    grid-area: informacion;
}
.mapa{
    grid-area: mapa;
}

.caja{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "formulario informacion"
    "formulario mapa";
    grid-gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.contacto{
    padding: 30px;
    background: rgb(175, 142, 142);
    box-shadow: 0 5px 45px rgba(95, 95, 87, 0.2);
}
.contacto h3{
    color: rgb(15, 6, 141);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}
/* formulario */
.contenedor-formulario{
    position: relative;
    width: 100%;

}
.contenedor-formulario .linea{
    display: flex;
    gap: 15px;
}
.caja-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 50%;
}

.contenedor-formulario .linea2 .caja-input{
    width: 100%;
}

.caja-input span{
    color: rgb(27, 17, 17);
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}
.caja-input input{
    padding: 10px;
    font-size: 14px;
    outline: none;
    border: 2px solid rgb(54, 21, 21);
}
.caja-input textarea{
    padding: 10px;
    font-size: 14px;
    outline: none;
    border: 2px solid rgb(54, 21, 21);
    resize: none;
    min-height: 200px;
    margin-bottom: 5px;
}
.caja-input input[type="submit"]{
    background-color: rgb(15, 6, 134);
    color: white;
    border: none;
    font-size: 14px;
    max-width: 120px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.caja-input ::placeholder{
    color: rgba(178, 178, 187, 0.781);
}

.informacion{
    background: rgb(212, 159, 159);
}
.informacion .caja-info div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.informacion .caja-info div span{
    min-width: 30px;
    height: 30px;
    color: black;
    background-color: sandybrown;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 50%;
    margin-right: 10px;
}
.informacion .caja-info div p{
    font-size: 14px;
    font-weight: 700;
}
.informacion .caja-info div a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 14px;
}
.redes-sociales{
    margin-top: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.redes-sociales li{
    list-style: none;
    margin: 10px;
}
.redes-sociales li a{
    font-size: 18px;
    color: #ccc;
}
.redes-sociales li a:hover{
    color: white;
}
.mapa{
    padding: 5px;
}
.mapa iframe{
    width: 100%;
    height: 100%;
}


/*?------FOOTER-----------*/
footer{
    background-color: #f2f2f2;
    color:#000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding-top: 5px; 
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "info           politicas       datafiscal"
    "contactanos    contactanos     contactanos"
    "pagos          pagos           pagos";
    grid-template-rows: 140px 90px 40px;
}

.grid-item-1{
    grid-area:info;
}

.grid-item-1 img{
    width: 80px;
    padding-left: 10px;
}
.grid-item-1 p{
    margin: 10px;
    font-size: 12px;
    width: 200px;
    text-align: justify;
} 

.grid-item-2{
    grid-area:politicas;
}
.footer-menu a{
    display: flex;
    flex-direction: column;
} 
.grid-item-2 nav a{
    text-decoration:underline;
    color:#000000;
    text-decoration-color: #9acd32;
    text-decoration-thickness: 2px;
    font-weight: 600;
    line-height: 1.5;
    padding-left: 10px;
}
.grid-item-3{
    grid-area: contactanos;
}
.grid-item-3 h2{
    padding-top: 5px;
    font-size: 16px;
    padding-left: 10px;
}
.grid-item-3 i{
    font-size: 20px;
    padding-left: 10px; 
    margin-top: 5px;
}
.facebook{
    color: blue;
}
.instagram{
    color:red;
}
.correo{
    color: goldenrod;
}
.llamada{
    color: black;
}
.grid-item-3 h3{
    font-size: 16px;
    padding-left: 10px;
    display: inline-block;
}
.medioe{
    margin-left: -12px; 
    color: blue;
}
.grid-item-4{
    grid-area: datafiscal;
}
.grid-item-4 img{
    width: 50px;
    padding-left: 10px;
}
.grid-item-5{
    grid-area: pagos;
}
.grid-item-5 hr{
    margin: 0;
    border-top: 4px solid #ccc;
}
.grid-item-5 nav{
    text-align: center;
}
.grid-item-5  i{
    margin-top: 5px;
    font-size: 25px;
    padding-left: 5px;
}
.whatsapp{
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: #25d366;
}
.fa-whatsapp{
    font-size: 60px;
}
.whatsapp:hover{
    color: #28e86e;
}

/**--------------------------------------------------------------------Media Querys--------------------------------------------------*/


/* diseño responsive */

@media screen and (max-width:1000px){
    .estilo img{
        height: 500px;
    }
    .estilo-1{
        height: 60%;
    }
    .estilo-1 h2{
        font-size: 16px;
    }
    .estilo-1 p{
        font-size: 20px;
    }
    .estilo-2{
    padding: 20px 30px;
        text-align: left;
        width: 210px;
    }
    .estilo-2 h2{
        font-size: 16px;
        text-align: left;
        width: 160px;
    }
    .estilo-2 img{
        width: 150px;
        height: 100px;
    }
    .estilo-2 h3{
        width: 180px;
        font-size: 16px;
    }
    .estilo-2 p{
        font-size:14px ;
        margin-bottom: 5px;
    }
    .estilo-3 h2{
        background-color: red;
        display: inline-block;
        font-size: 45px;
    }
    .estilo-3 h3{
        font-size: 16px;
    }
    .estilo-3 h4{
        font-size: 20px;
    }
    .nav-link{
        padding-left: 1px;
        font-size: 14px;
        font-weight: 600;
    }
    .nav-item form{
        width: 180px;
    }
}

@media screen and (max-width:920px){
    .container-contactanos{
        width: 100%;
        padding: 10px 100px;
    }
    .contactonos{
        padding: 10px;
    }
    .caja{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "formulario"
                            "informacion"
                                "mapa";
    }
    .mapa{
        min-height: 300px;
    }
    .contenedor-formulario .linea{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .caja-input{
    width: 100%;
    }
    .contacto{
        padding: 20px;
    }
    .estilo img{
        height: 480px;
    }
    .estilo-2 img{
        height: 100px;
    }
    .estilo-2 h3{
        font-size: 15px;
    }
    .estilo-2 p{
        margin-bottom: 5px;
        font-size: 13px;
    }
    .estilo-3 h2{
    font-size: 40px;
    }
    .estilo-3 h3{
        font-size: 15px;
    }
    .estilo-3 h4{
        font-size: 18px;
    }
    .nav-link{
        padding-left: 1px;
        font-size: 13px;
        font-weight: 600;
    }
    .nav-item form{
        width: 140px;
    }
}

@media screen and (max-width:800px){
    .estilo img{
        height: 450px;
    }
    .estilo-1{
        height: 60%;
    }
    .estilo-1 h2{
        font-size: 16px;
    }
    .estilo-1 p{
        font-size: 20px;
    }
    .estilo-2{
        padding: 20px 15px;
        text-align: left;
        width: 200px; 
    }
    .estilo-2 img{
        width: 150px;
        height: 100px;
    }
    .estilo-2 h3{
        font-size: 15px;
    }
    .estilo-2 p{
        margin-bottom: 5px;
        font-size: 13px;
    }

    .estilo-3 h2{
        font-size: 25px;
    }
    .estilo-3 h3{
        font-size: 12px;
    }
    .estilo-4 h2{
        padding-top: 2px;
        padding-bottom: 2px;
        width: 180px;
    }
    .estilo-4 h3{
        font-size: 16px;
    }
    .estilo-4 h4{
        font-size: 16px;
    } 
    .nav-link{
        padding-left: 1px;
        font-size: 12px;
        font-weight: 600;
    }
    .nav-item form{
        width: 120px;
    }
    .nav-item form input{
        font-size: 11px;
    }
}

@media screen and (max-width:767px){
    .nav-link{
        padding-left: 1px;
        font-size: 14px;
        font-weight: 600;
    }
    .nav-item form{
        width: 50%;
    }
    .nav-item form input{
        font-size: 14px;
    }
}

@media screen and (max-width:680px){
    .container-contactanos{
        width: 100%;
        padding: 10px 50px;
    }
}

@media screen and (max-width:600px){
    .estilo img{
        height: 350px;
    }
    .estilo-2{
        padding: 10px 10px;
        text-align: left;
        width: 160px; 
    }
    .estilo-2 h2{
        font-size: 14px;
        width: 140px;
    }
    .estilo-2 h3{
        font-size: 13px;
    }
    .estilo-2 p{
        font-size: 12px;
    }
    .estilo-2 img{
        width: 120px;
        height: 80px;
    }
    .estilo-3 h2{
        font-size: 20px;
    }
    .estilo-3 h4{
        width: 400px;
        font-size: 16px;
    }
    .estilo-3 p{
        margin-bottom: 0;
        width: 400px;
        font-size: 12px;
    }
    .estilo-4 h2{
        padding-top: 0;
        padding-bottom: 0;
    }
    .estilo-4 p{
        display: none;
    }
    .grid-container{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "info"
        "politicas" 
        "contactanos"  
        "datafiscal" 
        "pagos";
    }
    .grid-item-1 img{
        padding: 10px 50px; 
        width: 70%;
        height: 65%;
        margin-left: 80px;
    }
    .grid-item-1 p{
        margin-top: 10px;
        font-size: 14px;
        width: 90%;
        margin-bottom: 0;
    }
    .grid-item-2 nav a{
        text-decoration:underline;
        
        text-decoration-color: #ccc;
        text-decoration-thickness: 2px;
        font-weight: 500;
        
    }
    .grid-item-3 h2{
        display:none;
    }
    .grid-item-3 nav{
        margin-top: 20px;
    };
}

@media screen and ( max-width:500px){
    .estilo img{
        height: 300px;
    }
    .estilo-2{
        padding: 5px 15px;
        text-align: left;
        width: 150px;
    }
    .estilo-2 h2{
        font-size: 12px;
        width: 120px;
        text-align: left;
    }
    .estilo-2 img{
        width: 100px;
        height: 50px;
        padding-left: 0;
    }
    .estilo-2 h3{
        font-size: 12px;
        width: 130px;
    }
    .estilo-2 p{
        line-height: 1;
        margin-bottom: 5px;
        font-size: 12px;
    }
    .estilo-3{
        left: 20px;
        padding-bottom: 0;
    } 
    .estilo-3 h4{
        width: 350px;
        font-size: 14px;
    }
    .estilo-3 p{
        margin-bottom: 0;
        width: 350px;
        font-size: 12px;
    }
    .grid-item-1 p{
        margin-bottom: 50px;
    }
}

@media screen and (max-width:400px){
    .estilo img{
        height: 300px;
    }
    .estilo-1 h2{
        font-size: 16px;
    }
    .estilo-1 p{
        font-size: 16px;
        line-height: 1;
    }
    .estilo-1 h3{
        font-size: 14px;
    }
    .estilo-2{
        padding: 5px 5px;
        text-align: left;
        width: 100px;
    }
    .estilo-2 h2{
        font-size: 10px;
        width: 100px;
    }
    .estilo-2 img{
        width: 80px;
        height:50px ;
    }
    .estilo-2 h3{
        font-size: 9px;
        width: 110px;
    }
    .grid-item-1 img{
        padding: 10px 30px; 
        width: 60%;
        height: 50%;
        margin-left: 80px;
    }
    .grid.item-1 p{
        font-size: 10px;
        margin-top: 0;
        margin-bottom: 20px; 
    }
    .categorias{
        margin: 5px;
        height:340px;
    }
    .categorias img{
        width: 310px;
        height: 340px;
    }
    .estilo-3{
        left: 10px;
        padding-bottom: 0;
    } 
    .estilo-3 h4{
        width: 300px;
        font-size: 14px;
    }
    .estilo-3 p{
        margin-bottom: 0;
        width: 300px;
        font-size: 12px;
    }
}

