// main de la pagina de index
.contenedor-bienvenido {
    width: 100%;
    @include flex(flex, center, center, column, wrap);

    h2 {

        text-decoration: underline;
        text-decoration-color: nth($colores, 13);
        @include text(nth($sizetext, 10), nth($colores, 1), center);
    }

    p {

        margin-bottom: 0;
        @include text(nth($sizetext, 8), nth($colores, 8), center, 400);

        span {

            background-color: nth($colores, 3);
            text-transform: uppercase;
            @include text(nth($sizetext, 10), nth($colores, 4));
        }
    }
}

.categorias-productos {
    h2 {

        margin-top: 15px;
        @include text(nth($sizetext, 8), nth($colores, 5), center);

        &::before,
        &::after {
            content: "------";
            color: currentColor;
        }

        &:hover {
            color: nth($colores, 4);
        }
    }

    .contenedor-categorias {

        @include flex(flex, space-evenly, center, row, wrap);

        .categorias {

            border: 2px solid nth($colores, 6);
            height: 402px;
            text-align: center;
            margin: 15px;

            img {

                @include tamano(350px, 400px);
            }

            .info-categorias {
                transform: translateY(-200px);

                h3 {

                    @include text(nth($sizetext, 12), nth($colores, 7));
                }

                a {

                    text-decoration: none;
                    background-color: nth($colores, 2);
                    color: nth($colores, 9);
                    padding: 5px;
                    border-radius: 4px;

                    &:hover {
                        color: nth($colores, 4);

                        background-color: nth($colores, 9);
                    }
                }
            }
        }
    }
}

.ofertas-productos {
    margin: 0 10px;

    h2 {

        font-size: nth($sizetext, 8);
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .contenedor-ofertas {
        
        @include flex(flex, space-around, center, row, wrap);
        margin-bottom: 25px;

        .ofertas {
           
            border: 2px solid nth($colores, 9);

            @include tamano(250px, 305px);
            text-align: center;
            margin: 10px;

            img {
               
                @include tamano(234px, 235px);
            }

            h3 {
               
                background-color: nth($colores, 4);

                @include text(nth($sizetext, 9), nth($colores, 2),null);
                padding: 5px;
                width: 95px;
                border-radius: 5px;
                transform: translateX(-20px) translateY(-170px);
            }

            .descrip-ofertas {
               
                transform: translateY(-38px);
                background-color: nth($colores, 14);

                a {
                    text-decoration: none;

                    p {
                      
                        margin-bottom: 0;
                        padding-left: 10px;
                        @include text(nth($sizetext, 4), null, start);
                    }
                }

                h4 {
                    
                    @include text(nth($sizetext, 4), nth($colores, 10), null,700);

                    span {
                       
                        color: nth($colores-combinados, 2);
                        text-decoration: line-through;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

// main de la pagina de productos
.productos-totales {
    margin: 0 10px;
    margin-bottom: 20px;

    h1 {

        background-color: nth($colores-combinados, 3);
        padding-top: 15px;
        padding-left: 25px;

        @include text(nth($sizetext, 10), null, left);
    }

    .contenedor-productos {

        @include flex(flex, space-evenly, center, row, wrap);

        .producto {

            border: 2px solid nth($colores, 9);

            @include tamano(250px, 400px);
            text-align: center;
            margin: 20px;
            border-radius: 6px;
            background: nth($colores, 11);
            box-shadow: 0px 1px 10px nth($colores-combinados, 4);
            cursor: default;
            transition: all 300ms ease;

            img {

                @include tamano(246px, 234px);
            }

            .info-productos {

                padding-top: 10px;
                background-color: nth($colores, 11);
                @include tamano(246px, 130px);

                a {
                    text-align: center;
                    text-decoration: none;
                }

                h2 {
                    font-weight: 600;
                    margin-top: 15px;
                    margin-bottom: 0;
                    padding-top: 0;

                    background-color: nth($colores, 11);
                }

                p {

                    @include text(nth($sizetext, 6), nth($colores, 4), null,700);
                }
            }


            .carrito {

                background-color: nth($colores, 1);
                margin-left: 45px;
                padding: 5px;
                border-radius: 4px;
                width: 160px;
                transition: .5s ease-in-out;

                a {
                    text-decoration: none;
                    color: nth($colores, 2);
                }

                &:hover {

                    background-color: nth($colores, 8);
                }
            }

            &:hover {
                box-shadow: 6px 5px 20px nth($colores-combinados, 5);
                transform: translateY(-4%);
            }
        }
    }
}

//main de la pagina de Equipamiento
.equipamiento {
    h1 {

        background-color: nth($colores-combinados, 3);
        padding-top: 15px;
        padding-left: 25px;

        @include text(nth($sizetext, 10), null, left);
    }

    .contenedor {

        background-color: nth($colores, 15);
        margin: 20px;
        border: 4px solid nth($colores, 5);
        box-shadow: 10px 10px 5px nth($colores, 13);

        input {
            margin-left: 20px;
        }

        @include checked("#indumentaria-accesorios", ropa, articulos-deportivos);
        @include checked("#ropa", indumentaria-accesorios, articulos-deportivos);
        @include checked("#articulos-deportivos", indumentaria-accesorios, ropa);

        label {

            @include text(nth($sizetext, 7), null, null,500);
        }

        .galeria-imagenes {
            .ropa {

                @include flex(flex, space-evenly, center, row, wrap);

                .contenedor-ropa {

                    border: 2px solid nth($colores, 9);
                    text-align: center;
                    background: nth($colores, 2);

                    @include tamano(250px, 310px);
                    margin: 10px;

                    a {
                        img {

                            margin: 2px;

                            @include tamano(240px, 215px);
                            border: 2px solid nth($colores, 8);
                            transition: .5s ease-in-out;

                            &:hover {
                                scale: 1.2;
                            }
                        }
                    }

                    .descripcion {

                        @include tamano(246px, 87px);
                        background-color: nth($colores, 14);

                        p {

                            margin-bottom: 2px;


                            @include text(nth($sizetext, 3), null, center, 700);
                        }

                        h2 {

                            margin-bottom: 0;
                            @include text(nth($sizetext, 7), nth($colores, 13),null, 700);
                        }

                        .boton {

                            @extend %boton;
                            @include text(nth($sizetext, 7), nth($colores, 2));

                            &:hover {

                                background-color: nth($colores, 3);

                                border: 2px solid nth($colores, 1);
                                @include text(nth($sizetext, 7));
                            }
                        }
                    }

                }
            }

            .indumentaria-accesorios {

                @include flex(flex, space-evenly, center, row, wrap);

                .contenedor-accesorios {

                    border: 2px solid nth($colores, 9);
                    text-align: center;
                    background: nth($colores, 2);

                    @include tamano(250px, 310px);
                    margin: 10px;

                    a {
                        img {

                            margin: 2px;

                            @include tamano(240px, 215px);
                            border: 2px solid nth($colores, 16);
                            transition: .5s ease-in-out;

                            &:hover {
                                scale: 1.2;
                            }
                        }
                    }

                    .descripcion {

                        @include tamano(246px, 87px);
                        background-color: nth($colores, 17);

                        p {

                            margin-bottom: 2px;


                            @include text(nth($sizetext, 3), null, center, 700);
                        }

                        h2 {

                            @include text(nth($sizetext, 7), nth($colores, 13),null, 700);
                            margin-bottom: 0;
                        }

                        .boton {

                            @extend %boton;
                            @include text(nth($sizetext, 7), nth($colores, 2));

                            &:hover {

                                background-color: nth($colores, 16);

                                border: 2px solid nth($colores, 1);
                                @include text(nth($sizetext, 7));
                            }
                        }

                    }

                }
            }

            .articulos-deportivos {

                @include flex(flex, space-evenly, center, row, wrap);

                .contenedor-artdeportivos {

                    border: 2px solid nth($colores, 9);
                    text-align: center;
                    background: nth($colores, 2);

                    @include tamano(250px, 310px);
                    margin: 10px;

                    a {
                        img {

                            margin: 2px;

                            @include tamano(240px, 215px);
                            border: 2px solid nth($colores, 16);
                            transition: .5s ease-in-out;

                            &:hover {
                                scale: 1.2;
                            }
                        }
                    }

                    .descripcion {

                        @include tamano(246px, 87px);
                        background-color: nth($colores, 18);

                        p {

                            margin-bottom: 2px;

                            @include text(nth($sizetext, 3), null, center, 700);

                        }

                        h2 {

                            @include text(nth($sizetext, 7), nth($colores, 13), null,700);
                            margin-bottom: 0;
                        }

                        .boton {

                            @extend %boton;
                            @include text(nth($sizetext, 7), nth($colores, 2));

                            &:hover {

                                background-color: nth($colores, 11);

                                border: 2px solid nth($colores, 1);
                                @include text(nth($sizetext, 7));
                            }
                        }
                    }
                }
            }
        }
    }
}


//main de la pagina de Nosotros
.main-nosotros {

    background: nth($colores, 15);
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;

    .texto {
        text-align: center;

        h1 {
            .text1 {
                @include titulo-principal-nosotros(bounce1);
            }

            .text2 {
                @include titulo-principal-nosotros(bounce2);
            }

            .text3 {
                margin-left: 10px;
                @include titulo-principal-nosotros(bounce3);
            }

            @include keyframe-titulo-nosotros(bounce1, 1, -40%, 0%);
            @include keyframe-titulo-nosotros(bounce2, 0, -60%, 0%);
            @include keyframe-titulo-nosotros(bounce3, 1, 40%, -10%);

        }
    }

    .somos {
        margin: 20px auto;
        max-width: $sizemaxwidth;
        padding: 20px;

        background: nth($colores, 2);

        h2 {

            @include text(nth($sizetext, 9), nth($colores, 13), bold);
        }

        p {


            font-size: nth($sizetext, 6);
            text-align: justify;
        }

    }

    .contenedor-valores {

        @include flex(flex, center, left, column, wrap);
        margin: 30px auto;
        max-width: $sizemaxwidth;
        padding-left: 15px;
        background: nth($colores, 2);

        h2 {

            @include text(nth($sizetext, 9), nth($colores, 13), bold);
        }

        p {
            margin-bottom: 0;
        }

        .item-valores {

            gap: 10px;
            min-height: 50vh;

            @include flex(flex, center, center, column, nowrap);

            .card {

                position: relative;

                @include tamano(250px, 300px);

                .card-landing {

                    background-image: linear-gradient(transparent 80%, nth($colores, 1)), url(/img/calidad.jpg);


                    @include card-nosotros(relative, 100%, 100%, 0 5px 10px nth($colores, 1), 100);
                    background-position: center;
                    background-size: cover;

                    h3 {

                        position: absolute;
                        bottom: 10px;
                        left: 10px;

                        @include text(nth($sizetext, 10), nth($colores, 2));
                    }
                }

                .card-info {

                    left: 0;
                    bottom: 0;
                    right: 0;
                    top: 0;
                    margin: auto;
                    padding: 15px;
                    background: nth($colores, 2);

                    transition: 0.5s;
                    @include card-nosotros(absolute, 90%, 90%, 0 5px 10px nth($colores, 1), 900);

                    p {

                        padding: 2px 0;
                        border-bottom: solid 1px nth($colores, 5);

                        margin-bottom: 0;
                        @include text(nth($sizetext, 8), nth($colores, 5),null, 700);
                    }

                    article {

                        margin-top: 15px;
                        font-size: nth($sizetext, 3);
                        background: nth($colores-combinados, 6);
                    }
                }

                .card-landing1 {

                    background-image: linear-gradient(transparent 80%, nth($colores, 1)), url(/img/innovacion.jpeg);

                    @include card-nosotros(relative, 100%, 100%, 0 5px 10px nth($colores, 1), 100);
                    background-position: center;
                    background-size: cover;

                    h3 {

                        position: absolute;
                        bottom: 10px;
                        left: 10px;

                        @include text(nth($sizetext, 10), nth($colores, 2));
                    }
                }

                .card-landing2 {

                    background-image: linear-gradient(transparent 80%, nth($colores, 1)), url(/img/desarrollo.jpg);


                    @include card-nosotros(relative, 100%, 100%, 0 5px 10px nth($colores, 1), 100);
                    background-position: center;
                    background-size: cover;

                    h3 {

                        position: absolute;
                        bottom: 10px;
                        left: 10px;

                        @include text(nth($sizetext, 10), nth($colores, 2));


                    }
                }
            }
        }
    }
}

// main de la pagina de contacto
.container-contactanos {
    position: relative;
    width: 100%;
    padding: 10px 200px;

    h1 {


        @include text(30px, nth($colores, 13), null, 500);
        @include flex(flex, center, center, row, nowrap);
    }

    .caja {
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 5fr 4fr;
        grid-template-areas:
            "formulario informacion"
            "formulario mapa";
        grid-gap: 10px;
        margin-top: 15px;
        margin-bottom: 15px;

        .formulario {
            grid-area: formulario;
            padding: 30px;

            background: nth($colores, 19);
            box-shadow: 0 5px 45px nth($colores-combinados, 7);

            h2 {

                @include text(nth($sizetext, 7), nth($colores, 20), null, 500);
                margin-bottom: 5px;

            }

            .contenedor-formulario {

                @include flex(flex, left, left, column, wrap);

                .caja-input {
                    display: flex;
                    flex-direction: column;

                    margin-bottom: 5px;
                    width: 50%;

                    span {

                        margin-top: 5px;
                        margin-bottom: 5px;

                        @include text(nth($sizetext, 7), nth($colores, 21), left);
                    }

                    input {

                        padding: 10px;
                        font-size: nth($sizetext, 4);
                        outline: none;
                        border: 2px solid nth($colores, 22);
                    }

                }



                .caja-input2 {
                    display: flex;
                    flex-direction: column;

                    margin-bottom: 5px;
                    width: 100%;

                    span {

                        margin-top: 5px;
                        margin-bottom: 5px;

                        @include text(nth($sizetext, 7), nth($colores, 21), left);
                    }

                    textarea {

                        padding: 10px;
                        font-size: nth($sizetext, 4);
                        outline: none;
                        border: 2px solid nth($colores, 22);
                        resize: none;
                        min-height: 200px;
                        margin-bottom: 5px;

                    }


                    input {

                        background-color: nth($colores, 20);

                        border: none;

                        max-width: 100px;

                        cursor: pointer;
                        border-radius: 5px;
                        @include text(nth($sizetext, 7), nth($colores, 2));
                    }
                }
            }
        }

        .informacion {
            grid-area: informacion;

            background: nth($colores, 23);
            padding: 30px;
            align-items: center;

            h2 {

                margin-bottom: 25px;
                @include text(nth($sizetext, 7), nth($colores, 24), null, 500);
            }

            .caja-info {

                @include flex(flex, center, center, column, nowrap);
                margin-bottom: 10px;

                .info {

                    width: 220px;

                    @include flex(flex, left, center, row, nowrap);

                    span {

                        @include flex(flex, center, center, row, nowrap);
                        min-width: 30px;
                        height: 30px;

                        background-color: nth($colores, 25);

                        @include text(nth($sizetext, 4), null);
                        border-radius: 50%;
                        margin-top: 5px;
                        margin-right: 10px;

                    }

                    a {

                        text-decoration: none;

                        @include text(nth($sizetext, 4), null, null,700);
                    }
                }

                .info1 {

                    width: 220px;

                    @include flex(flex, left, center, row, nowrap);

                    span {

                        @include flex(flex, center, center, row, nowrap);
                        min-width: 30px;

                        height: 30px;


                        margin-top: 5px;
                        background-color: nth($colores, 12);

                        border-radius: 50%;
                        margin-right: 10px;
                        @include text(nth($sizetext, 4), null, center);

                    }

                    p {

                        @include text(nth($sizetext, 4), null, null, 600);
                        margin-bottom: 0;
                    }
                }

                .redes-sociales {

                    margin-top: 50px;

                    padding-left: 0;

                    @include flex(flex, center, center, row, nowrap);

                    li {
                        list-style: none;
                        margin: 10px;

                        a {
                            i {

                                transition: 0.3s ease-in-out;
                                @include text(20px, nth($colores, 6));

                                &:hover {
                                    color: nth($colores, 2);
                                }
                            }
                        }
                    }
                }
            }
        }

        .mapa {
            grid-area: mapa;
            padding: 5px;

            border: 2px solid nth($colores, 6);

            iframe {

                @include tamano(100%, 100%);
            }
        }
    }
}