

%boton{
    // position: relative;
    // width: 100%;
    // height: 100%;
    // box-shadow: 0 5px 10px #000000;
    // background-position: center;
    // background-size: cover;
    // z-index: 100;
    text-decoration: none;
    display: inline-block;
    width: 90px;
    background-color: nth($colores, 1);
    border-radius: 5px;

  
}

@mixin card-nosotros($pos, $ancho, $alto, $boxs, $index) {
    position: $pos;
    width: $ancho;
    height: $alto;
    box-shadow: $boxs;
    z-index: $index;
}
@mixin checked($selec, $opc1, $opc2) {
    #{$selec}:checked {
        ~.galeria-imagenes {

            .#{$opc1},
            .#{$opc2} {
                display: none;
            }
        }
    }

}
@mixin keyframe-titulo-nosotros($nombre, $direccion, $grado1, $grado2) {

    @if $direccion ==1 {
        @keyframes #{$nombre} {
            0%{
                transform: translateX($grado1);
            }
            100%{
                transform: translateX($grado2);
            }
        }
    }

    @else {
        @keyframes #{$nombre} {
            0%{
                transform: translateY($grado1);
            }
            100%{
                transform: translateY($grado2);
            }
        }

    }



}

@mixin flex ($flex,$justify,$align,$direccion,$wrap){

display: $flex;
justify-content: $justify;
align-items: $align;
flex-direction: $direccion;
flex-wrap: $wrap;
}

@mixin prueba() {
    color: black;
    font-weight: 600;
    position: relative;
}

@mixin tamano($ancho, $alto) {
    width: $ancho;
    height: $alto;
}
@mixin text($size, $color: null, $align: null, $esp: 600) {
    font-size: $size;
    color: if($color==null, #000000, $color);
    text-align: if($align==null,center,$align);
    font-weight: $esp;
}
@mixin titulo-principal-nosotros($animacion) {
    display: inline-block;
    font-size: 45px;
    font-style: italic;
    font-weight: 600;
    font-family: "Open+Sans", sans-serif;
    background: linear-gradient(indigo 60%, hotpink 40%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: $animacion 3s alternate infinite ease-in-out;
}







