//variables
$sizemaxwidth:1200px;

//variables
$sizetext:
10px, //1
11px, //2
12px, //3
14px, //4
15px, //5
16px, //6
18px, //7
20px, //8
22px, //9
25px, //10
26px, //11
32px, //12
60px; //13

//listas
$colores:
#000000,    //1
#ffffff,    //2
#e6cf09,    //3
#ff0000,    //4
#bc8811,    //5
#cccccc,    //6
#ffdead,    //7
#008000,    //8
#808080,    //9
#0000ff,    //10
#faebd7,    //11
#faa460,    //12
#832960,    //13
#dbdbdb,    //14
#faf4ef,    //15
#ff6347,    //16
#cad3dc,    //17
#aadaaa,    //18
#af8e8e,    //19
#0f068d,    //20    
#1b1111,    //21
#361515,    //22
#d49f9f,    //23
#0d0761,    //24
#f4a460;    //25

$colores-combinados:
#f4a56065, //1
#80808083,  //2
#cccccc3c,  //3
#00000033,  //4
#00000066,  //5
#efdcdc5c,  //6
#5f5f5733,  //7
#ecc19586,  //8
#b2b2bbc7;  //9




